<div *ngIf="post">
  <img [src]="post.imageUrl" alt="{{ post.title }}" class="post-image" />
    <h2>{{ post.title }}</h2>
    <p class="author"> by
        <strong> {{ getAuthorName(post.userId) }}</strong>
    </p>
    <p>{{ post.body }}</p>
  
    <hr />
    <h3>Comments</h3>
  
    <div *ngFor="let comment of comments" class="comment">
        <div class="comment-header">
          <app-avatar [name]="getAuthorName(comment.userId)"></app-avatar>
          <div class="comment-meta">
            <span class="comment-author">{{ getAuthorName(comment.userId) }}</span>
            <p class="comment-text">{{ comment.body }}</p>
          </div>
        </div>
      </div>         
    <div *ngIf="comments.length === 0">
        <p>No comments yet.</p>
    </div>
      
  
    <h3>Add Comment</h3>
    <form (ngSubmit)="addComment()">
      <textarea
        [(ngModel)]="newComment"
        name="newComment"
        rows="3"
        placeholder="Write a comment..."
        required
      ></textarea>
      <button type="submit">Submit</button>
    </form>
  </div>
  
