<div class="post-list-container">
  <div class="post-list-header">
    <div></div>
    <button routerLink="/posts/create" class="new-post-btn">New post</button>
  </div>

  <div *ngFor="let post of posts" class="post-card">
    <img src="{{ getPostImageUrl(post) }}" class="post-image"/>

    <div class="post-content">
      <h3 class="post-title">
        <a [routerLink]="['/posts', post.id]" class="post-link"> 
        {{ post.title }}
        </a>
        <span class="divider">|</span> {{ getAuthorName(post.userId) }}
      </h3>
      <p class="post-body">{{ post.body | slice: 0:280 }}...</p>
    </div>
  </div>

  <div class="pagination">
    << Prev 
    <span *ngFor="let page of [1,2,3,4,5,6,7,8,9,10]" 
          (click)="loadPosts(page)" 
          [style.fontWeight]="currentPage === page ? 'bold' : 'normal'"
          style="cursor: pointer; margin: 0 4px;">
      {{ page }}
    </span>
    Next >>
  </div>
</div>
