<div *ngIf="isAlreadyLoggedIn" class="redirect-msg">
  {{ isLoggedInText }}
</div>
<div class="login-wrapper" *ngIf="!isAlreadyLoggedIn">
  <div class="login-box">
    <p class="login-title">Login</p>
    <p class="login-subtitle">
      Please enter your credentials to access the blog.
    </p>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <hr />
      <label for="username">User Name:</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
      />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        required
      />

      <label>
        <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe" />
        Ricordami
      </label>

      <button type="submit" class="login-btn">Login</button>

      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </div>
</div>
